# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env
weaviatecont/.env

# Ignore Docker-related files
*.log

#ignore pdf files
*.pdf

#ignore python virtual environment
/pyweave312/